@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
  --primary-color: rgb(21, 57, 170);;
  --primary-color-light: #fffcfa;
  --primary-color-dark: #09cadb;
  --text-dark: #18181b;
  --white: #fff;
  --max-width: 1200px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  color: var(--text-dark);
  background: #fffdfd;
  line-height: 1.4;
}

.nav__logo a{
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-color);
}

.nav__logo a span{
  color: var(--text-dark);
}

img{
  display: block;
  max-width: 100%;
  height: auto;
}

a{
  text-decoration: none;
  transition: 0.3s linear;
  color: inherit;
}

ul{
  list-style: none;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 999;
  background: transparent;
}

.nav__header {
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  max-width: var(--max-width);
  margin-inline: auto;
}

.nav__menu__bt {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
  background: transparent;
  border: none;
}

.nav__links {
  position: absolute;
  top: 68px;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem 0;
  background-color: var(--primary-color-light);
  transform: translateY(-110%);
  transition: transform 0.35s ease;
}

.nav__links.open {
  transform: translateY(0);
}

.nav__links a {
  font-weight: 600;
  color: var(--text-dark);
  padding: 0.4rem 1rem;
}

.nav__links a:hover {
  color: var(--primary-color-dark);
}

.nav__btn {
  display: none;
}

@media (min-width: 768px) {
  nav {
    position: static;
    padding: 1rem;
  }

  .nav__header {
    background: transparent;
    padding: 0;
  }

  .nav__menu__bt {
    display: none;
  }

  .nav__links {
    position: static;
    transform: none;
    flex-direction: row;
    gap: 2rem;
    background: transparent;
    padding: 0;
    align-items: center;
    justify-content: flex-start;
  }

  .nav__links a {
    color: var(--text-dark);
  }

  .nav__btn {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
  }

  .nav__btn .btn {
    padding: 8px 10px;
    font-size: 1.2rem;
    border-radius: 8px;
  }
}

.section__container {
  max-width: var(--max-width);
  margin: 6rem auto 2rem;
  padding: 1rem;
}

.header__container {
  display: grid;
  gap: 2rem;
  align-items: center;
}

.header__image {
  text-align: center;
}

.header__image img {
  max-width: 400px;
  border-radius: 8px;
}

.header__content h1 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5rem;
  color: var(--text-dark);
  text-align: center;
}

.header__content h1 span {
  display: block;
  margin-top: 0.5rem;
  color: var(--primary-color);
  font-weight: 600;
}

.section__description {
  margin: 1rem 0 2rem;
  color: #333;
  text-align: center;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  white-space: nowrap;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 50px;
  transition: transform .15s ease;
  cursor: pointer;
  font-weight: bold;
}

.btn:hover {
  transform: translateY(-3px);
}

@media (min-width: 768px) {
  .header__container {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    align-items: center;
  }

  .header__content h1 {
    font-size: 2.5rem;
    text-align: left;
  }

  .header__content .section__description,
  .header__btn {
    text-align: left;
  }

  .header__image {
    text-align: right;
  }
}
